html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    max-width: 100%;
    background-size: 1360px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

/* Empty, for hidden list of the right-upper side */
.empty {
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    opacity: 0.0;
    z-index: -1;
}

.main_frame {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: start;
}

.top_bar_back_style {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

.top_bar_start_btn_style {
    width: 146px;
    height: 146px;
    left: 2px;
    top: 2px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.top_bar_start_btn_line_style {
    position: absolute;
    width: 90px;
    left: 30px;
    height: 2px;
    border-width: 0px;
    border-style: none;
    background-color: white;
}

.view_book_and_buttons_style {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: start;
}

.view_record_cover_image_style {
    width: 320px;
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.first_page_title_style {
    width: 300px;
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
}

input.input_book_title_style {
    width: 300px;
    height: 50px;
    font-size: 40px;
    border-width: 1px;
    text-align: center;
    border-color: rgb(191, 156, 80);
    border-width: 0px;
    border-bottom-width: 1px;
    outline: none;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    color: black;
}

.view_left_page_back_style {
    position: relative;
    width: 420px;
    height: 600px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.view_right_page_back_style {
    position: relative;
    width: 420px;
    height: 600px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.svg_icon_style {
    width: 100px;
    height: 100px;
}